@using Sebo_tcc.DTO
@model CustomersDTO;

@{
    ViewData["Title"] = "Editar Cliente";
}

<h2>Cadastrar Cliente</h2>

<form asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CPFCustomer" class="form-label"></label>
        <input asp-for="CPFCustomer" class="form-control" />
        <span asp-validation-for="CPFCustomer" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NumberCustomer" class="form-label"></label>
        <input asp-for="NumberCustomer" class="form-control" />
        <span asp-validation-for="NumberCustomer" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BirthDate" class="form-label"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Confirmar </button>
    <button asp-controller="Customers" asp-action="Index" class="btn btn-secondary">Voltar </button>

</form>